{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un utilisateur
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container-fluid mt-4">
		<h1 class="text-center">Modification d'un utilisateur</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<div class="d-grid gap-2 d-md-block mt-4 text-center">
			<button type="submit" class="btn btn-inline btn-primary">Modifier</button>
		</div>
		{{ form_end(form) }}
        <a href="{{ path('admin.users.index') }}" class="btn btn-secondary">Retour à la liste</a>
	</section>
{% endblock %}
